* {
  margin: 0;
  padding: 0;
}

body {
  background: #2b5876;
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
  background: linear-gradient(to right, #4e4376, #2b5876);
  text-align: center;
}

.container {
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
#msg {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
}

.Auth{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-weight: 200;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: -16px;
  margin-bottom: 6px;
}

#new-btn,
#reset-btn {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: rgb(38, 0, 255);
  background-color: #000000;
  background-image: linear-gradient(315deg, #ff1a1a 0%, #ecec39 74%);
}

#reset-btn {
  padding: 1rem;
  font-size: 1.30rem;
  background: #acb6e5;
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);
  background: linear-gradient(to right, #86fde8, #acb6e5);
  color: rgb(3, 3, 81);
  border-radius: 0.8rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.30rem;
  background: #acb6e5;
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);
  background: linear-gradient(to right, #86fde8, #acb6e5);
  color: rgb(3, 3, 81);
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}

